<h1><strong>Towns</strong></h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!towns"><em>Loading...</em></p>

<table class='table' *ngIf="towns">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Country</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let town of towns">
			<td>{{ town.Id }}</td>
			<td>{{ town.Name }}</td>
			<td>
				<a href="country/{{town.CountryId}}">Country (details)</a>
			</td>
		</tr>
	</tbody>
</table>

<a href="javascript:history.go(-1)" class="btn btn-link btn-large">
	<span class=" glyphicon glyphicon-arrow-left"></span> <strong>Back to previous page</strong>
</a>
