<h3><strong>Address -- Test page</strong></h3>

<div class="col-xs-3">
	<label>Select country</label>
	<select id="countryComboBox" class="form-control" name="value" (change)="onSelectCountry($event.target.value)">
		<option value="0">--Select country--</option>
		<option *ngFor="let country of countries" value={{country.Id}}>{{country.Name}}</option>
	</select>

	<br />

	<label>Select town</label>
	<select id="townComboBox" class="form-control" name="value" (change)="onSelectTown($event.target.value)">
		<option value="0">--Select town--</option>
		<option *ngFor="let town of towns" value={{town.Id}}>{{town.Name}}</option>
	</select>

	<br />

	<label>Select street</label>
	<select id="streetComboBox" class="form-control" name="value">
		<option value="0">--Select street--</option>
		<option *ngFor="let street of streets" value={{street.Id}}>{{street.Name}}</option>
	</select>

	<br />

	<a href="javascript:history.go(-1)" class="btn btn-link btn-large">
		<span class=" glyphicon glyphicon-arrow-left"></span> <strong>Back to previous page</strong>
	</a>
</div>
