<div>
	<h2><strong>Turbines</strong></h2>

	<p *ngIf="!turbines"><em>Loading...</em></p>

	<table class='table table-hover row-bordered' *ngIf="turbines">
		<thead class="gray-color-header">
			<tr>
				<th>#</th>
				<th>Serial number</th>
				<th>Type (model)</th>
				<th>Capacity, kW</th>
				<th>Shares</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let turbine of turbines; let i= index">
				<td> {{i+1}}</td>
				<td>{{ turbine.SerialNumber }}</td>
				<td>{{ turbine.TurbineType.Model }}</td>
				<td>{{ turbine.TurbineType.Capacity }}</td>
				<td>
					<a routerLink="/share-list-for-turbine/{{ turbine.Id }}">Shares</a>
				</td>
				<td>
					<a routerLink="/turbine/edit/{{ turbine.Id }}">Edit</a> |
					<a routerLink="/turbine/{{ turbine.Id }}">Details</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="row">
		<div class="col-md-6 margin-top-20">
			<a routerLink="/turbine/create" class="btn btn-primary btn-large btn-block">
				<span class="glyphicon glyphicon-plus-sign"></span> Create a turbine
			</a>
			<a routerLink="/turbine-type-list" class="btn btn-primary btn-large btn-block">
				<span class="glyphicon glyphicon-flash"></span> Turbine types
			</a>
		</div>
		<div class="col-md-6 margin-top-20">
			<a routerLink="/share-list" class="btn btn-primary btn-large btn-block">
				<span class="glyphicon glyphicon-list-alt"></span> Shares
			</a>
			<a routerLink="/windfarm-list" class="btn btn-primary btn-large btn-block">
				<span class="glyphicon glyphicon-flash"></span> Wind farms
			</a>
		</div>
	</div>
	<br />
	<a href="javascript:history.go(-1)" class="btn btn-link btn-large">
		<span class=" glyphicon glyphicon-arrow-left"></span> <strong>Back to previous page</strong>
	</a>
</div>