<div class="turbine-edit">
	<h2>{{title}}</h2>
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="form-group"
			 [ngClass]="{ 'has-error has-feedback' : hasError('SerialNumber') }">
			<label for="title">Turbine serial number:</label>
			<br />
			<input type="text" id="serialNumber"
				   formControlName="SerialNumber" required
				   [(ngModel)]="turbine.SerialNumber"
				   placeholder="enter a serial number..."
				   class="form-control" />
			<span *ngIf="hasError('SerialNumber')"
				  class="glyphicon glyphicon-remove form-control-feedback"
				  aria-hidden="true"></span>
			<div *ngIf="hasError('SerialNumber')"
				 class="help-block">
				Title is a required field: please insert a valid serial number.
			</div>
		</div>

		<div class="form-group"
			 [ngClass]="{ 'has-error has-feedback' : hasError('TurbineTypeId') }">
			<label for="TurbineTypeId">Turbine type:</label>
			<br />
			<select id="TurbineTypeId"
					formControlName="TurbineTypeId" required
					class="form-control">

				<option value="">Pick a turbine type...</option>
				<option *ngFor="let num of [1,2,3,4]"
						[value]="num">
					{{num}}
				</option>
			</select>
			<div *ngIf="hasError('TurbineTypeId')"
				 class="help-block">
				Please, select a valid turbine type.
			</div>
		</div>
		<div class="form-group commands">
			<button *ngIf="editMode" type="submit"
					[disabled]="form.invalid"
					class="btn btn-success">
				Apply Changes
			</button>
			<button *ngIf="!editMode" type="submit"
					[disabled]="form.invalid"
					class="btn btn-success">
				Create the Turbine!
			</button>
			<button *ngIf="!editMode" type="submit"
					(click)="onBack()"
					class="btn btn-default">
				Cancel
			</button>
		</div>
	</form>
</div>