<h2><strong>{{title}}</strong></h2>

<div class="div-large-font">
	<p>
		Web App <span class="span-bold span-red">"WindPowerSystem" </span> helps to manage by data for electric wind turbines and wind farms.
		Also it calculates incomes for turbine’s shareholders according to how much a turbine produces electricity.
	</p>
	<br />

	<p>
		Currently Single Page Application (SPA) "WindPowerSystem" is in development phase and is developed by using:
	</p>
	<p>--<span class="span-bold"> C#/ ASP.NET Core 2.0 </span>(backend layer based on RESTful APIs);</p>
	<p>-- SQL: MSSQL- Entity Framework (at this moment) / Oracle-NHibernate (in future);</p>
	<p>-- <span class="span-bold">Typescript: Angular 5;</span> </p>
	<p>-- HTML, CSS/ LESS, Bootstrap;</p>
	<p>-- WebPack, Node.js;</p>
	<p>-- Authentication (used token-based approach using JSON Web Tokens (JWT)), OAuth2 authorization (Facebook);</p>
	<p>-- Publishing: FTP, Folder, Jenkins;</p>
	<p>-- Mapster.</p>
	<br />
	<p>The app manages by data from the database:</p>
	<p>-- 22 related tables;</p>
	<p>-- 1004 turbines and 31 types;</p>
	<p>-- 11 wind farms;</p>
	<p>-- 1062 shareholders (privacy and legal types);</p>
	<p>-- shares for turbines / wind farms.</p>
</div>
