.share-edit {
  width: 50%;
}
@media (max-width: 767px) {
  .share-edit {
    width: 100%;
  }
}
.share-edit textarea {
  min-height: 100px;
}
.share-edit select {
  max-width: 300px;
}
.share-edit .commands {
  margin-top: 20px;
}
