table.row-bordered > thead > tr {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}
table.row-bordered > tbody > tr {
  border-bottom: 1px solid lightgrey;
}
.mark-yellow {
  background-color: yellow;
  color: black;
  font-weight: bold;
}
.mark-red {
  background-color: red;
  color: black;
  font-weight: bold;
}
.text-red {
  color: red;
}
.p-font-size {
  font-size: 18px;
}
.gray-color-header {
  background-color: lightgray;
}
