.turbine-type {
  color: blue;
}
table.row-bordered > thead > tr {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  width: 50%;
}
table.row-bordered > tbody > tr {
  border-bottom: 1px solid lightgrey;
  width: 50%;
}
