<div>
	<h3><strong>Turbine types</strong></h3>

	<p *ngIf="!turbineTypes"><em>Loading...</em></p>

	<table class='table table-hover row-bordered' *ngIf="turbineTypes">
		<thead class="gray-color-header">
			<tr>
				<th>#</th>
				<th>Model</th>
				<th>Capacity</th>
				<th>Turbines</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let turbineType of turbineTypes; let i= index">
				<td>{{i+1}}</td>
				<td>{{turbineType.Model}}</td>
				<td>{{turbineType.Capacity}}</td>
				<td>
					<!--add tyrbineType/id -- TO DO -->
					<a routerLink="/turbine-list">Turbines</a>
				</td>
				<td>
					<a routerLink="/turbine-type/edit/{{ turbineType.Id }}">Edit</a> |
					<a routerLink="/turbine-type/{{ turbineType.Id }}">Details</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="row">
		<div class="col-md-4 margin-top-20">
			<a routerLink="/turbine-type/create" class="btn btn-primary btn-large btn-block">
				<span class="glyphicon glyphicon-plus-sign"></span> Create a turbine type
			</a>
		</div>
	</div>
	<br />

	<a href="javascript:history.go(-1)" class="btn btn-link btn-large">
		<span class=" glyphicon glyphicon-arrow-left"></span> <strong>Back to previous page</strong>
	</a>
</div>
