<div>
	<h3><strong>Turbine type details -- {{turbineType.Model}}</strong></h3>
	<div *ngIf="turbineType">
		<table class='table table-hover row-bordered'>
			<thead>
				<tr>
					<th>Detail</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{turbineType.Id}}</td>
				</tr>
				<tr>
					<th>Model</th>
					<td>{{turbineType.Model}}</td>
				</tr>
				<tr>
					<th>Capacity, kW</th>
					<td>{{turbineType.Capacity}}</td>
				</tr>
				<tr>
					<th>Manufacturer</th>
					<td>{{turbineType.Manufacturer.Name}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div *ngIf="auth.isLoggedIn()">
		<input type="button" class="btn-warning btn" value="Edit" (click)="onEdit()" />
		<input type="button" class="btn-danger btn" value="Delete this Turbine type" (click)="onDelete()" />
	</div>
</div>
