<div class='main-nav'>
    <div class='navbar navbar-inverse navbar-custom'>
		<div class='navbar-header'>
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
			<quiz-search class="search-navmenu" placeholder="Type here..."></quiz-search>
		</div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
			<ul class='nav navbar-nav'>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/home']">
						<span class='glyphicon glyphicon-home'></span> Home
					</a>
				</li>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/about']">
						<span class='glyphicon glyphicon-info-sign'></span> About
					</a>
				</li>
				<li *ngIf="!this.auth.isLoggedIn()"
					[routerLinkActive]="['link-active']">
					<a [routerLink]="['/login']">
						<span class='glyphicon glyphicon-log-in'></span> Login
					</a>
				</li>
				<li *ngIf="auth.isLoggedIn()">
					<a (click)="logout()">
						<span class='glyphicon glyphicon-log-out'></span> Logout
					</a>
				</li>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/counter']">
						<span class='glyphicon glyphicon-education'></span> Counter
					</a>
				</li>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/fetch-data']">
						<span class='glyphicon glyphicon-th-list'></span> Fetch data
					</a>
				</li>
				<li *ngIf="this.auth.isLoggedIn()"
					[routerLinkActive]="['link-active']">
					<a [routerLink]="['/quiz/create']">
						<span class='glyphicon glyphicon-log-in'></span> Create Quiz
					</a>
				</li>
				<li *ngIf="this.auth.isLoggedIn()"
					[routerLinkActive]="['link-active']">
					<a [routerLink]="['/turbine-type-list']">
						<span class='glyphicon glyphicon-flash'></span> Turbine Types
					</a>
				</li>
				<li 
					*ngIf="this.auth.isLoggedIn()"
					[routerLinkActive]="['link-active']">
					<a [routerLink]="['/turbine-list']">
						<span class='glyphicon glyphicon-flash'></span> Turbines
					</a>
				</li>
				<li 
					*ngIf="this.auth.isLoggedIn()"
					[routerLinkActive]="['link-active']">
					<a [routerLink]="['/share-list']">
						<span class='glyphicon glyphicon-list-alt'></span> Shares
					</a>
				</li>
				<li 
					*ngIf="this.auth.isLoggedIn()"
					[routerLinkActive]="['link-active']">
					<a [routerLink]="['/address-list']">
						<span class='glyphicon glyphicon-globe'></span> Find address
					</a>
				</li>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/country-list']">
						<span class='glyphicon glyphicon-globe'></span> Countries
					</a>
				</li>
				<li [routerLinkActive]="['link-active']">
					<a [routerLink]="['/town-list']">
						<span class='glyphicon glyphicon-tower'></span> Towns
					</a>
				</li>
			</ul>
        </div>
    </div>
</div>
