.cookie-notification-container {
	background-color: #f2f2f2;
	border-radius: 5px;
	margin-left: 0px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.agree-button {
	margin-top: 7px;
	color: blue;
	background-repeat: no-repeat;
	background-color: Transparent;
	float: right;
	border: none;
	cursor: pointer;
}

.cookie-wiki-link {
	font-weight: bold;
	color: blue;
}
